@model IEnumerable<InterfacesBodegAPP.Usuarios.Respuestas.UsuarioRegistrado>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
            </tr>
        }
    </tbody>
</table>
